html {
  font-size: 16px;
}


body{
  background-image: linear-gradient(#ff0000, #ffffff);
}

.container {
  width: 80%;
  height: 100vh;
  margin: auto;
  display:flex;
  justify-content: center;
}

/* Main Header  */
.main {
  color:black;
  font-size: 3rem;
}

/*  Div Wrapper for Attributes  */

.load-poke{
  display:flex;
  flex-direction: column;
  height: 70vh;
  justify-content: space-between;
  align-items: center;
  
}

/*.load-poke > div */
/* Attributes */
.attr-div {
  width: 100%;
  height: 20vh;
  background-image: linear-gradient(gray,black);
  border-radius: 5%;
  box-shadow: 10px 5px 5px black;
  font-size: 80%;
  overflow: auto;
  color: #ffffff;
}

.attr-list {
  list-style-type: none;
  width: 100%;
  margin: auto;
  padding: 0;
  color: #ffffff;
  display: flex;
  flex-wrap: wrap;
}

.attr-list > li {
  width: 33%;
}

.loadHeader {
  width:100%;
  height:10vh;
  text-align: center;
  font-family: 'Sofia', sans-serif;
  font-size: 200%;
}



#theSelect {
  appearance: none;
  border: none;
  padding-bottom: 5%;
  background-color: inherit;
  font-size: 150%;
  font-style: italic;
}

#theSelect:focus{
  outline: black;
}


/* Animation to the header */

@keyframes myHeader {
  0% {color: white;}
  25%{color: lightgray}
  50% {color: gray;}
  100%{color: black}
}

.main:hover {
  animation-name: myHeader;
  animation-duration: 4s;
}


/*  Footer Styles */
footer {
  font-size: 1.5rem;
}

.footer-link:link,
.footer-link:visited {
  text-decoration: none;
  color: gray;
}

.footer-link:hover {
  color:#ff0000;
  text-decoration: underline;
}

/* Media Query For Monitors */

@media only screen and (min-width: 900px) {

  .container {
    height: 100vh;
  }


  .load-poke{
    display: flex;
    flex-wrap: wrap;
    height: 40vh;
    flex-direction: row;
    justify-content: space-between;
  }
  /*.load-poke > div */
  .attr-div{
    width: 30%;
    height: 30vh;
    font-size: 100%;
    background-image: linear-gradient(gray,black);
    border-radius: 5%;
    box-shadow: 10px 5px 5px black;
    overflow: auto;
  }

  /* Add animation below to Pokemon Attributes */

  .attr-div{
    transition: all .2s ease-in-out;
  }

  .attr-div:hover{
    transform: scale(1.1);
  }
} 


